.section-about {
  background-color: $color-white;
  padding-top: 3rem;

}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @include smartphone {
    flex-direction: row-reverse;
  }


  &__photo {
    width: 55rem;
    height: 53.5rem;
    position: relative;

    @include small-laptop {
      width: 50rem;
      height: auto;
    }

    @include tablet-landscape {
      width: 42rem;
    }

    @include tablet {
      width: 35rem;
    }

    @include smartphone {
      width: 22rem;
      position: absolute;
      right: -10rem;
      top: 10rem;
    }
  }

  &__text {
    flex-basis: 54rem;
    width: 100%;

    @include smartphone {
      flex-basis: 70%;
    }

  }

  &::before {
    content: "";
    height: 64rem;
    width: 64rem;
    background-color: $color-primary-light-2;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -4%);

    @include small-laptop {
      width: 55rem;
      height: 55rem;
    }

    @include tablet {
      width: 40rem;
      height: 40rem;
    }

    @include smartphone {
      display: none;
    }
  }
}