.button {
  &,
  &:link,
  &:visited {
    padding: 1.4rem 3.2rem;
    border-radius: 8px;
    display: inline-block;
    color: $color-white;

    @include smartphone {
      font-size: 1.8rem;
      padding: 1rem 2rem;
    }
  }

  &--orange {
    background-color: $color-button-orange;
  }

  &--green {
    background-color: $color-primary;
  }
}