.button {
  &,
  &:link,
  &:visited {
    box-sizing: border-box;
    padding: 1.2rem 3rem;
    border-radius: 8px;
    display: inline-block;
    color: $color-white;
    position: relative;
    border: 3px solid transparent;
    transition: all 0.4s;
    font-weight: 500;


    @include smartphone {
      font-size: 1.8rem;
      padding: 1rem 2rem;
    }
  }

  &--orange {
    background-color: $color-button-orange;

    &:hover,
    &:active {
      border: 3px solid $color-button-orange;
      background-color: $color-white;
      color: $color-black;
    }
  }

  &--green {
    background-color: $color-primary;

    &:hover,
    &:active {
      border: 3px solid $color-primary;
      background-color: $color-white;
      color: $color-black;
    }
  }
}