.clients {
  padding-top: 10rem;
  background-color: $color-white;
  text-align: center;


  &__gallery {
    display: grid;
    column-gap: 2.4rem;
    row-gap: 2rem;
  }

  &__photo-container {
    overflow: hidden;
    border-radius: 8px;
  }

  &__photo {
    transition: all .4s;

    &:hover {
      transform: scale(1.15);
    }
  }
}