.clients {
  padding-top: 10rem;
  background-color: $color-white;
  text-align: center;


  &__gallery {
    display: grid;
    column-gap: 2.4rem;
    row-gap: 2rem;

    @include small-laptop {
      column-gap: 1.8rem;
      row-gap: 1.6rem;
    }

    @include tablet-landscape {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.4rem;
      row-gap: 1rem;
    }

    @include smartphone {
      column-gap: 1rem;
      row-gap: .6rem;
    }
  }

  &__photo-container {
    overflow: hidden;
    border-radius: 8px;
  }

  &__photo {
    transition: all .4s;

    @include small-laptop {
      width: 32rem;
      height: auto;
    }

    @include tablet-landscape {
      width: 39rem;
    }

    @include tablet {
      width: 34rem;
    }

    @include big-smartphone {
      width: 25rem;
    }

    @include smartphone {
      width: 20rem;
    }



    &:hover {
      transform: scale(1.15);
    }
  }
}