.footer {
  text-align: center;
  @include flex-center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: $color-white;

  &__logo-container {
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    @include flex-center;
    z-index: 5;
    background-color: $color-white;
  }

  &__logo {
    width: 17.2rem;
    height: 17rem;
    z-index: 5;
  }

  &::before {
    content: "";
    width: 200rem;
    height: 200rem;
    background-color: $color-primary-light-2;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: 25%;
  }

  &__navigation {
    z-index: 5;
  }

  &__navigation-list {
    list-style: none;
    display: flex;
    gap: 9.3rem;
    color: $color-white;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 1.2px;

    @include big-smartphone {
      font-size: 2rem;
    }

    @include smartphone {
      padding: 0 3rem;
      gap: 4rem;
    }

  }

  &__icons {
    display: flex;
    gap: 7.2rem;
    margin: 4.2rem 0 8rem;
    @include flex-center;
    z-index: 5;
  }

}