.footer {
  text-align: center;
  @include flex-center;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  &__logo-container {
    height: 25rem;
    width: 25rem;
    background-color: white;
    border-radius: 50%;
    @include flex-center;
  }

  &__logo {
    width: 17.2rem;
    height: 17rem;
  }

  &::before {
    content: "";
    width: 200rem;
    height: 200rem;
    background-color: $color-primary-light-2;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    top: 25%;
  }

  &__navigation-list {
    list-style: none;
    display: flex;
    gap: 9.3rem;
    color: $color-white;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 1.2px;
  }

  &__icons {
    display: flex;
    gap: 7.2rem;
    margin: 4.2rem 0 8rem;
  }
}