* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include tablet-landscape {
    font-size: 56.25%;
  }

  @include smartphone {
    font-size: 50%;
  }

}

body {
  font-family: "Raleway", sans-serif;
  font-size: $default-font-size;
  line-height: 1.6;
  font-weight: 400;
  overflow-x: hidden ;

}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.container {
  width: 100%;
  max-width: 122rem;
  margin: 0 auto;

  @include small-laptop {
    padding: 0 2rem;
  }
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}





