@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin small-laptop {
  @media (max-width: 78em) {
    @content
  }
}

@mixin tablet-landscape {
  @media (max-width: 62.5em) {
    @content
  }
}