@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin small-laptop {
  @media (max-width: 78em) {
    @content
  }
}

@mixin tablet-landscape {
  @media (max-width: 62.5em) {
    @content
  }
}


@mixin tablet {
  @media (max-width: 53em) {
    @content
  }
}

@mixin big-smartphone {
  @media (max-width: 41.25em) {
    @content
  }
}

@mixin smartphone {
  @media (max-width: 31.25em) {
    @content
  }
}