$color-primary: #387546;
$color-primary-light-2: #598463;
$color-primary-light: #DEF0D8;
$color-white: #FAFAFA;
$color-black: #000;
$color-button-orange: #F19A33;

$text-color: #383833;

$default-font-size: 2rem;

$heading-secondary-font-size: 2.4rem;
